.nft-badge {
  width: 128px;
  border-radius: 0;
  display: inline;
  margin-top: 0.5rem;
}

.card .not-owned {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: black;
  border-radius: 0.25rem;
  opacity: 0.90;
  filter: alpha(opacity = 90);
}

.card {
  /* width: 130px; */
  font-size: 0.65rem;
  max-width: 141px;
  min-width: 130px;
}

.card-body {
  padding: 0.5rem 0.4rem;
  color: #212529;
}

.list-group-item {
  padding: 0.5rem 0.4rem
}

.card-footer {
  text-align: left;
  font-size: 0.55rem;
}
